@{
    ViewData["Title"] = "Success";
}


    <h1>Success!</h1>
    <form asp-action="LogOut" asp-controller="User" method="Post">
        <button class="btn-btn-danger">Log Out</button>
    </form>

    <p>Good Job!!! You Made It👌.</p>



